name: "chamber"
arch: "${ARCH}"
platform: "linux"
version: "${VERSION}"
section: "default"
priority: "extra"
provides:
- chamber
vendor: 'Segment, Inc.'
maintainer: tooling-team@segment.com
homepage: "https://github.com/segmentio/chamber"
license: "MIT"
# IMHO packages should install to /usr/bin
bindir: /usr/bin
files:
  "${DIST_BIN}": "/usr/bin/chamber"
description: >
  Chamber is a tool for managing secrets. Currently it does so by storing
  secrets in SSM Parameter Store, an AWS service for storing secrets.
