
name: Test & Build
on:
  push:
    branches:
      - master

  pull_request:

jobs:
  install-go-modules:
    strategy:
      matrix:
        go: ['1.16.x', '1.15.x']
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Go ${{ matrix.go }}
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Test install Go modules for v${{ matrix.go }} 
      run: go get -v . && chamber version

  test:
    strategy:
      matrix:
        go: ['1.16.x']
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Go 
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
    
    - name: Test
      run: make test
    
    - name: Check modules are tidy and checked in
      run: |
        export GO111MODULE=on
        go mod tidy
        if [ "$(git status --porcelain)" != "" ]; then
          echo "git tree is dirty after tidying modules"
          echo "ensure go.mod and go.sum are tidy"
          git status
          exit 1
        fi

  dist:
    strategy:
      matrix:
        go: ['1.16.x']
    runs-on: ubuntu-latest
    needs: test
    
    steps:
    - uses: actions/checkout@v2

    - name: Setup Go 
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
    
    - name: Install nfpm, rpmbuild
      run: sudo make -f Makefile.tools nfpm-debian rpmbuild-debian
    
    - name: Make distributables
      run: make -f Makefile.release dist
    - uses: actions/upload-artifact@v3
      with:
        name: dist
        path: 'dist/*'

  test-dockerhub-login:
    runs-on: ubuntu-latest
    needs: dist

    steps:
    - uses: actions/checkout@v2

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWD }}

  test-github-release:
    runs-on: ubuntu-latest
    needs: dist

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: actions/download-artifact@v3
      with:
        name: dist
        path: 'dist/*'

    - name: Generate Changelog
      run: scripts/changelog > ${{ github.workspace }}-CHANGELOG.txt

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        draft: true
        body_path: ${{ github.workspace }}-CHANGELOG.txt
        files: dist/*
